<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Bug Impact: measure the impact of bugs as an uplift</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-icons.css" media="screen">
    <link rel="stylesheet" href="/style/base.css" type="text/css" media="all" />
  </head>
  <body class="p-3">
  <h3 class="text-center mb-4">Please wait while we query data from Bugzilla…</h3>

  </body>
</html>